/* Assignment 1 */
.parent {
    background-color: #ddd;
    width: 500px;
    margin: 100px auto 20px;
    padding: 20px;
    text-align: center;
    height: 150px;
    transition: all 0.5s;
}

.parent .child {
    background-color: #eee;
    width: 400px;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    transition: all 0.5s linear 0.5s;
}

.parent:hover {
    margin-top: 30px;
}

.parent:hover .child{
    margin-top: 50px;
}

/* Assignement 2 */
.assign-2 {
    background-color: red;
    color: white;
    padding: 20px;
    border: 1px solid blue;
    font-size: 80px;
}

