/* Assignment 1 */
.parent {
    background-color: #ddd;
    width: 500px;
    margin: 100px auto 20px;
    padding: 20px;
    text-align: center;
    height: 150px;
    transition: all 0.5s;
}

.parent .child {
    background-color: #eee;
    width: 400px;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    transition: all 0.5s linear 0.5s;
}

.parent:hover {
    margin-top: 30px;
}

.parent:hover .child{
    margin-top: 50px;
}

/* Assignement 2 */
.assign-2 {
    width: 500px;
    font-size: 20px!important;
    border: none !important;
    text-align: center;
    background-color: #eee !important;
    color: #000 !important;
    text-indent: -3500px;
    position: relative;
}

.assign-2::after {
    content: "Elzero";
    position: absolute;
    top: 17px;
    left: 2000px;
}

/* Assignment 3 */

:root {
    /* --mainColor: #009688;
    --mainPadding: 10px; */
}

.assign-3 div {
    padding: var(--mainPadding, 10px);
    border: 3px solid var(--mainColor, #000);
    color: var(--mainColor, red);
    width: 600px;
    margin: 20px auto;
}