/* Assignment 1 */
.parent .child .title {
    color: red;
}

.parent .title {
    color: blue;
}

.parent p,
.title {
    color: green;
}

/* Assignment 2 */
.assign2-parent {
   
}

.assign2-parent div {
    width: fit-content;
    max-width: 400px;
    background-color: rebeccapurple;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    overflow: hidden;
    height: 20px;
}