/* Assignment 1 */
* {
    box-sizing: border-box;
}
.assign-1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    color: orange;
    font-size: 20px;
    box-shadow: 
        5px 0px orange,
        -5px 0px blue;        ;
}

/* Assignment 2 */
.assign-2-parent {
    width: 600px;
    height: 300px;
    margin: 20px auto;
    background-color: #eee;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
}

.assign-2-parent div {
    background-color: red;
    color: white;
    font-size: 20px;
    text-align: center;
    height: 46px;
    width: calc(95%/3);

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Assignment 3 */
.assign-3-parent {
    width: 600px;
    height: 300px;
    background-color: #eee;
    padding: 10px;
    margin: 20px auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.assign-3-parent div {
    background-color: gray;
    color: white;
    width: calc(95% / 3);

    display: flex;
    justify-content: center;
    align-items: center;
}

.assign-3-parent .one {
    order: 6;
    height: 40px;
    align-self: flex-end;
}
.assign-3-parent .two {
    order: 5;
}

.assign-3-parent .three {
    order: 2;
    height: 40px;
}

.assign-3-parent .four {
    order: 3;
}

.assign-3-parent .five {
    order: 4;
}

.assign-3-parent .six {
    order: 1;
}

/* Assignment 4 */
.assign-4-parent {
    width: 600px;
    height: 300px;
    margin: 20px auto;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.assign-4-parent div {
    background-color: darkseagreen;
    color: white;
    height: calc(95% / 3);
    display: flex;
    align-items: center;
    padding: 10px;
    width: 10%;
}

.assign-4-parent .two {
    width: 50%;
}

.assign-4-parent .one,
.assign-4-parent .three {
    align-self: flex-end;
}

/* Assignment 5 */
.assign-5-parent {
    width: 600px;
    height: 300px;
    background-color: #eee;
    padding: 10px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.assign-5-parent div {
    width: calc(70% / 4);
    color: white;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 50%;
}

.assign-5-parent .one {
    order: 2;
}

.assign-5-parent .two {
    order: 3;
    align-self: flex-end;
}

.assign-5-parent .three {
    order: 4;
}

.assign-5-parent .four {
    order: 1;
    align-self: flex-end;
}

/* Assignment 6 */
:root {
    --bakcgroundColorChild: #ddd;
    --padding: 10px;
    --margin: 10px;
}

.page {
    width: 100%;
    height: 600px;
    background-color: #eee;
    /* padding: var(--padding);  */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page div {
    display: flex;
}

.page .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page .header .logo,
.page .header .links {
    background-color: var(--bakcgroundColorChild);
    padding: var(--padding);
    margin:  var(--margin);
    width: calc(98% / 6);
}

.page .header ul {
    display: flex;
    flex-grow: 1;
    list-style: none;
    justify-content: flex-end;
}

.page .header ul li {
    padding: 0 var(--padding);
}

.page .main-area {
    display: flex;
    flex-grow: 1;
}

.page .main-area div {
    background-color: var(--bakcgroundColorChild);
    margin: 0 var(--margin);
    padding: var(--padding);
    width: calc(100% / 3.5);
}

.page .main-area .content {
    flex-grow: 1;
}
   
.page .footer {
    background-color: var(--bakcgroundColorChild);
    margin:  var(--margin);
    padding: var(--padding);
    justify-content: space-between;
}