* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Assignment 1 */

@media print {
    .assign-1 {
        font-size: 40px;
    }
}

/* Assignment 2 */
.assign-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.assign-2 div,
.assign-3 div {
    background-color: #eee;
    width: calc((100% / 4) - 10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #159e91;
    font-weight: 700;
}

.assign-2 div p,
.assign-3 div p  {
    color: #3b3b3b;
    font-weight: normal;
}

@media (max-width: 768px){
    .assign-2 div {
        width: calc(100% - 10px);
        margin-bottom: 10px;
        color: red;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .assign-2 div {
        width: calc((100% / 2) - 10px);
        margin-bottom: 10px;
        color: rgb(23, 62, 160);
    }
}

/* Assignment 3 */
.assign-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.assign-3 div {
    background-color: #eee;
    color: #159e91;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.assign-3 .one,
.assign-3 .four  {
    width: 100%;
    margin: 10px 0;
}

.assign-3 .two,
.assign-3 .three  {
    width: calc(50% - 5px);
}

@media (min-width: 768px) and (max-width: 992px){
    .assign-3 .one {
        width: 100%;
        margin: 10px 0;
    }
    
    .assign-3 .two,
    .assign-3 .three,
    .assign-3 .four  {
        width: calc((100% / 3) - 5px);
        margin: 0;
    }
}

@media (max-width: 768px){
    .assign-3 div {
        width: calc(100% - 10px) !important;
        margin-bottom: 10px;
        color: red;
    }

    .assign-3 div.four {
        margin: 0;
    }
}

